body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px; /* 세로 가로 */
}

footer {
  background: aquamarine;
  border-top: 1px solid red;
  margin-top: 5px;
  padding: 30px 20px;
}

header {
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
}

header a {
  color: coral;
  margin-right: 16px;
  text-decoration: none;
}

img {
  width: 250px;
}
