body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px; /* 세로 가로 */

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 세로 크기 비율 100% 채움*/
}

.main-content {
  flex-grow: 1; /* 0보다 크면 여백을 채움, flex 아이템들이 여러개 일때 할당된 여백 비율 */
}

footer {
  background: aquamarine;
  border-top: 1px solid red;
  margin-top: 5px;
  padding: 30px 20px;
}

header {
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
}

header a {
  color: coral;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border : 3px solid #2fa0bd;
  padding: 10px
}

button {
  cursor: pointer;  /* 올렸을 때 커서 모양 */
  border : 3px solid #c0742d;
  background: #befac1;
  color: white; /* 글씨 색상 */
  padding: 10px;
}

#geocoder {
  z-index: 1;
  margin: 20px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

#msg-weather{
  width: 1000px;
  height: 100px;
}